.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 10px 1px rgba(210, 210, 210, 0.3);
  color: gray;
  padding: 10px;

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: lightgray;
  }
}
