.featured {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 10px 1px rgba(210, 210, 210, 0.3);
  padding: 20px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;

    .featuredChart {
      width: 125px;
      height: 125px;
    }

    .title {
      color: gray;
      font-weight: 300;
    }

    .amount {
      font-size: 30px;
    }

    .desc {
      font-weight: 300;
      font-size: 12px;
      color: gray;
      font-size: 14px;
      text-align: center;
    }
  }

  .summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      text-align: center;

      .itemTitle {
        font-size: 14px;
        color: gray;
      }

      .itemResult {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 14px;

        &.positive {
          color: green;
        }

        &.negative {
          color: red;
        }
      }
    }
  }
}
