.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.1);
    }

    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.1);
    }

    .statusDot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-right: 5px;

      &.Approved {
        background-color: rgba(0, 128, 0, 0.5);
      }

      &.Pending {
        background-color: rgba(189, 189, 3, 0.5);
      }
    }
  }
}
