.datatable {
  padding: 20px;
  height: 600px;

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      color: #ff8e7f;
      font-size: 16px;
      font-weight: 400;
      padding: 5px;
      border: 1px solid #ff8e7f;
      border-radius: 5px;
      transition: all 0.1s ease-out;

      &:hover {
        background-color: #ff8e7f;
        color: #fff;
      }
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    .cellWithStatusDot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-right: 5px;

      &.active {
        background-color: rgba(0, 128, 0, 0.5);
      }

      &.passive {
        background-color: rgba(220, 20, 60, 0.5);
      }

      &.pending {
        background-color: rgba(189, 189, 3, 0.5);
      }
    }

    &.active {
      color: green;
      background-color: rgba(0, 128, 0, 0.1);
    }

    &.passive {
      color: crimson;
      background-color: rgba(220, 20, 60, 0.1);
    }

    &.pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.1);
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
      margin: 2px 5px;
      font-size: 20px;
      cursor: pointer;
    }

    .viewButton {
      color: #12c7c7;
    }

    .deleteButton {
      color: rgb(253, 15, 63);
    }
  }
}
